<nav class="navbar navbar-expand-lg navbar-light shadow p-3  ">
  <img class="fit-picture" src="../assets/img/logo.jpg" alt="logo immo" height="55em">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/liste">Liste</a>
      </li>
    </ul>
  </div>
</nav>

  
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 shadow p-3 mb-5 bg-white rounded">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left ">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Project immo</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Nous contacter</h5>

        <ul class="list-unstyled">
          <li>
            <p>Tél : (+687) 24 11 24</p>
          </li>
          <li>
            <p>E-mail : contact@projectimmo.nc</p>
          </li>
          <li>
            <p>Adresse : 73 rue de Charleroi</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Nous retrouver</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">facebook</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Linkedin</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> project</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


