.card-content {
    background-color: #ff4150;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-block {
    display: block;
    margin-top: 5em;
    margin-bottom: 2em;
}