<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../assets/img/salon2.jpg" class="d-block w-100" alt="...">
    </div>
</div>
</div>
<div class="container-iframe">
<div class="container">
    <div class="row">
    <div class="vr-iframe col-lg-8 col-md-8">
        <h2>VISITE VIRTUELLE IMMOBILIER</h2>
        <iframe  width="1000" height="700" src="https://my.matterport.com/show/?m=bGDdQQG11ge"></iframe>
    </div>
    </div>
</div>
</div>
<!-- Déclaration du conteneur de la carte avec l'id "frugalmap" -->
<div id="frugalmap">
 
</div>